In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('datasets/train.csv', usecols =['Age','Pclass','Fare','Survived'])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
df.isnull().mean()

Survived    0.000000
Pclass      0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [5]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=43)

In [7]:
from sklearn.impute import KNNImputer, SimpleImputer
knn = KNNImputer(n_neighbors=3,weights='distance')

x_train_trf = knn.fit_transform(x_train)
x_test_trf  = knn.transform(x_test)

In [8]:
x_train.head()

     Pclass   Age      Fare
826       3   NaN   56.4958
838       3  32.0   56.4958
763       1  36.0  120.0000
189       3  36.0    7.8958
109       3   NaN   24.1500

In [9]:
x_train_trf

array([[  3.    ,  30.    ,  56.4958],
       [  3.    ,  32.    ,  56.4958],
       [  1.    ,  36.    , 120.    ],
       ...,
       [  3.    ,  29.    ,  15.2458],
       [  3.    ,  22.    ,   7.25  ],
       [  3.    ,  21.    ,   8.6625]])

In [10]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train_trf,y_train)

y_pred = model.predict(x_test_trf)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.6927374301675978

In [11]:
si = SimpleImputer()
x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

In [12]:
from sklearn.linear_model import LogisticRegression

model2 = LogisticRegression()

model2.fit(x_train_trf2,y_train)

y_pred2 = model2.predict(x_test_trf2)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred2))

0.6815642458100558

In [13]:
si = SimpleImputer(add_indicator=True)
x_train_trf3 = si.fit_transform(x_train)
x_test_trf3 = si.transform(x_test)

In [14]:
from sklearn.linear_model import LogisticRegression

model1 = LogisticRegression()

model1.fit(x_train_trf3,y_train)

y_pred3 = model1.predict(x_test_trf3)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred3))

0.6815642458100558