In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import MissingIndicator, SimpleImputer

In [2]:
df = pd.read_csv('datasets/train.csv', usecols = ['Age','Fare','Survived'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [5]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=43)

In [6]:
si = SimpleImputer()

x_train_trf = si.fit_transform(x_train)
x_test_trf  = si.transform(x_test)

In [7]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train_trf,y_train)

y_pred = model.predict(x_test_trf)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.6536312849162011

In [8]:
mi = MissingIndicator()

In [9]:
x_train_missing = mi.fit_transform(x_train)

In [10]:
x_test_missing = mi.transform(x_test)

In [11]:
x_train['Age_NA'] = x_train_missing
x_test['Age_NA']  = x_test_missing

In [12]:
x_train

      Age      Fare  Age_NA
826   NaN   56.4958    True
838  32.0   56.4958   False
763  36.0  120.0000   False
189  36.0    7.8958   False
109   NaN   24.1500    True
..    ...       ...     ...
277   NaN    0.0000    True
817  31.0   37.0042   False
255  29.0   15.2458   False
320  22.0    7.2500   False
836  21.0    8.6625   False

[712 rows x 3 columns]

In [13]:
si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2  = si.transform(x_test)

In [14]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train_trf2,y_train)

y_pred2 = model.predict(x_test_trf2)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred2))

0.659217877094972

In [15]:
si = SimpleImputer(add_indicator=True)
x_train_trf3 = si.fit_transform(x_train)
x_test_trf3  = si.transform(x_test)

In [16]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(x_train_trf3,y_train)

y_pred3 = model.predict(x_test_trf3)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred3))

0.659217877094972